@{
    ViewBag.Title = "Tournament";
}

<div id="view-tourney-registration">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Division</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Kindergarten - 3rd Grade</option>
                <option>4th - 6th Grade</option>
                <option>Middle School</option>
                <option>High School</option>
                <option>Adult</option>
            </select>
        </div>
    </form>
</div>

