@{
    ViewBag.Title = "Tournament";
}

<div id="view-tourney">
    <div class="jumbotron">
        Watch the tournament results live!
    </div>

    <div class="tourney-target division-1"></div>
    <div class="tourney-target division-2"></div>
    <div class="tourney-target division-3"></div>
    <div class="tourney-target division-4"></div>
    <div class="tourney-target division-5"></div>

</div>

@section scripts{
    <script>
        $(function () {
            $('.tourney-target.division-1').challonge('GraffitiDodgeballTourney', { subdomain: '', theme: '1', multiplier: '1.0', match_width_multiplier: '1.0', show_final_results: '1', show_standings: '1' });
            $('.tourney-target.division-2').challonge('GraffitiDodgeballTourney', { subdomain: '', theme: '1', multiplier: '1.0', match_width_multiplier: '1.0', show_final_results: '1', show_standings: '1' });
            $('.tourney-target.division-3').challonge('GraffitiDodgeballTourney', { subdomain: '', theme: '1', multiplier: '1.0', match_width_multiplier: '1.0', show_final_results: '1', show_standings: '1' });
            $('.tourney-target.division-4').challonge('GraffitiDodgeballTourney', { subdomain: '', theme: '1', multiplier: '1.0', match_width_multiplier: '1.0', show_final_results: '1', show_standings: '1' });
            $('.tourney-target.division-5').challonge('GraffitiDodgeballTourney', { subdomain: '', theme: '1', multiplier: '1.0', match_width_multiplier: '1.0', show_final_results: '1', show_standings: '1' });
        });
    </script>
}
