@{
    ViewBag.Title = "About Graffiti Ministries";
}

<div id="view-about">
    <h2>About Graffiti Ministries</h2>

    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/286877941?byline=0&portrait=0&title=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <h3>Our Mission</h3>
    <p>Graffiti Ministries is a faith-based, community focused organization serving the Coney Island community located in Brooklyn, New York City. Our calling is to serve our community in tangible ways, with a desire to play a role in helping our neighbors accomplish their goals and achieve their full potential.</p>

    <h3>Our History</h3>
    <p>Graffiti Coney Island is one of seven independent, affiliated Graffiti ministry sites and churches in a network serving communities of need across New York City and elsewhere. Graffiti began its work in 1975 by serving children in the drug-controlled culture of Manhattan's Lower East Side, and since then Graffiti's mission has been to bring people into fellowship with Christ and equip them in clear thinking, fair living, and true devotion. With a heart to see God's kingdom expand, Graffiti has assisted in some way in the starting of 60 new churches and ministry centers.</p>

    <h3>Our Beliefs</h3>
    <p>Graffiti Ministries is a Christian, bible-based organization. We believe that God has created the world around us and loves dearly each and every person who calls it home. We believe God displayed this love to mankind through the redemptive work of Jesus upon the cross, and this same redemption is available to all would accept it.</p>

    <p>Don't want to play in the tournament? You can support Graffiti Ministries directly <a href="http://www.graffiticoneyisland.nyc/give/" target="_blank">here</a>.</p>

    <section class="testimonies">
        <h2>Stories from Graffiti</h2>
        <section class="row personal-experience">
            <h3 class="col-xs-12 name">Ayanna</h3>
            <img src="~/Content/images/Ayanna.jpg" alt="Ayanna" class="img-responsive col-md-6 main-img" />
            <div class="col-md-6 testimony">
                <p>Ayanna became a part of our after-school program when her mother came to the Graffiti Ministries Learning Center looking for help. She explained that Ayanna was struggling in school and she didn't know how to provide the help her daughter needed. She continued to explain how Ayanna was far below grade level, struggling in the classroom, and treated negatively by her peers. She was three years overage for her grade, meaning she had repeated grades multiple times.</p>
                <p>Ayanna's mom said, “It has turned her [Ayanna] around. It has changed all of her struggles—she measures up here. I’m grateful to see Ayanna in such a positive environment. The Graffiti Ministries Learning Center has helped her to move forward in her schoolwork.”</p>
                <p>When she first enrolled at Graffiti Ministries, she confused well-known public figures and God, thinking they were one and the same. Now when we ask for someone to open in a word of prayer, she is always the first to volunteer, thanking God for "this beautiful day... and all the animals".</p>
            </div>
        </section>

        <section class="row personal-experience">
            <h3 class="col-xs-12 name">Julius</h3>
            <img src="~/Content/images/Julius.jpg" alt="Julius" class="img-responsive col-md-6 main-img" />
            <section class="col-md-6 testimony">
                <p>“I was born here in Brooklyn, New York City. I’ve worked a few different jobs in the past, and I came to the Graffiti Ministries Learning Center to get help learning computer skills so I can find a job. Graffiti has been assisting me a lot, and I know that as I continue to learn it will help me broaden my skills.”</p>
                <p>Not only is Julius one of our adult learners, but he has plugged into Graffiti Church as well, and says he looks most forward to Thursday bible studies!</p>
            </section>
        </section>

        <section class="row personal-experience">
            <h3 class="col-xs-12 name">Joshua</h3>
            <img src="~/Content/images/Joshua.jpg" alt="Joshua" class="img-responsive col-md-6 main-img" />
            <section class="col-md-6 testimony">
                <p>“I was born in the Bronx [one of NYC’s other boroughs]. I never met my father because he was gunned down in the streets just before I was born. My mom and aunt tried to raise me and my brothers, but when I was nine we were removed from our home by the Administration for Children’s Services and sent to live with our grandmother. I first came to Brooklyn last year after being released from a six-month hospital stay. I wanted to get my GED, and a friend at my residential treatment center told me about the Graffiti Ministries Learning Center, which was just a few blocks away.  I enrolled in the GED program and was invited to a bible study that same day! Not only am I working on my diploma, but I have a church family Graffiti that makes me feel welcome and like I belong. I was so happy the day I was baptized at Graffiti Church!”</p>
            </section>
        </section>
    </section>
</div>
