@{
    ViewBag.Title = "About Graffiti Ministries";
}
<h2>@ViewBag.Title.</h2>



<section class="row">
    <img src="~/Content/images/Ayanna.png" alt="Ayanna" class="img-responsive"/>
    <h3>Ayanna</h3>
    <p>Ayanna became a part of our after-school program when her mother came to the Graffiti Ministries Learning Center looking for help. She explained that Ayanna was struggling in school and she didn't know how to provide the help her daughter needed. She continued to explain how Ayanna was far below grade level, struggling in the classroom, and treated negatively by her peers. She was three years overage for her grade, meaning she had repeated grades multiple times.</p>
    <p>Ayanna's mom said, “It has turned her [Ayanna] around. It has changed all of her struggles—she measures up here. I’m grateful to see Ayanna in such a positive environment. The Graffiti Ministries Learning Center has helped her to move forward in her schoolwork.”</p>
    <p>When she first enrolled at Graffiti Ministries, she confused well-known public figures and God, thinking they were one and the same. Now when we ask for someone to open in a word of prayer, she is always the first to volunteer, thanking God for "this beautiful day... and all the animals".</p>
</section>

<section class="row">
    <section class="col-md-6">
        <img src="~/Content/images/Julius.jpg" alt="Julius" class="img-responsive" />
        <h3>Julius</h3>
        <p>“I was born here in Brooklyn, New York City. I’ve worked a few different jobs in the past, and I came to the Graffiti Ministries Learning Center to get help learning computer skills so I can find a job. Graffiti has been assisting me a lot, and I know that as I continue to learn it will help me broaden my skills.”</p>
        <p>Not only is Julius one of our adult learners, but he has plugged into Graffiti Church as well, and says he looks most forward to Thursday bible studies!</p>
    </section>

    <section class="col-md-6">
        <img src="~/Content/images/Joshua.jpg" alt="Joshua" class="img-responsive" />
        <h3>Joshua</h3>
        <p>“I was born in the Bronx [one of NYC’s other boroughs]. I never met my father because he was gunned down in the streets just before I was born. My mom and aunt tried to raise me and my brothers, but when I was nine we were removed from our home by the Administration for Children’s Services and sent to live with our grandmother. I first came to Brooklyn last year after being released from a six-month hospital stay. I wanted to get my GED, and a friend at my residential treatment center told me about the Graffiti Ministries Learning Center, which was just a few blocks away.  I enrolled in the GED program and was invited to a bible study that same day! Not only am I working on my diploma, but I have a church family Graffiti that makes me feel welcome and like I belong. I was so happy the day I was baptized at Graffiti Church!”</p>
    </section>
</section>
